body{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
}
li,ul {list-style-type: none; margin:0; padding:0;}
h1,h1,h3,h4,h5,h6{margin:0; padding:5px 0;}

input[type="text"],input[type="email"],input[type="password"], select,textarea,.form-control{ 
	width: 100%; 
	height:35px; 
	padding:5px 10px;
	background-color:#f6f6f5; 
	color:#333;
	font-weight:400; 
	border:1px solid $default-color;
	@include border-radius(0px);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	&:focus{
		 outline: 0;
	}
}
textarea{ 
	height:95px; 
	resize:none;
}
input[type="submit"], input[type="reset"],button,.btn{
	background-color:$primary-color;
	color: #fff;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
  	vertical-align: middle;
    padding: 10px;
	border: 0;
	&:hover,&:focus{
		 cursor: pointer; outline: 0;
	}
}
.form-group{
	margin:0 0 10px 0;
}
.form-group .btn{ 
	width:100%;
}
label{
	display: inline-block;
	margin:0 0 10px 0;
}


.mer-logo-txt {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    padding: 10px 0;
    color: $primary-color;
}
.container{
    max-width: 825px;
    margin: 0 auto;
}
.main-container{
	border: 1px solid #b7b7b8;
	&:after{
		@extend %clearfix;
	}
}
.tab-container{
	width: 100%;
    max-width: 436px;
     float: left;   
}
.blockMain{ display:block; padding:15px;}

.tab-menu{
	margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    overflow: hidden;
    max-width: 180px;
    min-height: 50vh;
    /*border: 1px solid #b3b3ea;*/

    &:after{
		@extend %clearfix;
	}
}

.amount-block{
    float: right;
    max-width: 200px;
    width: 100%;
    /*border: 1px solid #b3b3ea;*/
    &:after{
		@extend %clearfix;
	}
}

#netBanking ul{
 	display: block;
	margin:0 -6px 35px 0;
	&:after{
		@extend %clearfix;
	}
}
#netBanking li{
	float:left;
}
#netBanking li label{
	border: 1px solid $default-color;
    cursor: pointer;
    display: block;
    width: 124px;
    min-height:30px;
    font-size:13px;
    line-height:30px;
    padding: 3px;
    margin:0 5px 8px 0;
}