* {margin: 0;padding: 0;}
:link img,:visited img,a img,iframe,img {border: 0}
:focus,a,fieldset,form,input,select {outline: 0}
::-ms-clear {display: none;}
::-ms-reveal {display: none;}
::-webkit-input-placeholder {color: #99afb7;font-size: 13px;}
:-moz-placeholder {color: #99afb7;font-size: 13px;}
::-moz-placeholder {color: #99afb7;font-size: 13px;}
li,ul {list-style-type: none;}
.clear {clear: both;}
.display,img { display: block!important}
a {text-decoration:underline;color: #0067a6;}
input,select,textarea {
    border: 1px solid #becfd6;
    border-radius:0;line-height: 1.2;
}
input[type=checkbox],input[type=radio] {
    border: none;
    outline: 0;
    width: 14px!important;
}
input[type=radio] {
    border-radius:50%;
}