<div class="blockMain blockamazon" data="tabs-14" data-tab-type="amzon">
    <div class="amazon_logo"></div>
    <div class="amazon-pay-text">
        <p>{{amazonphara}}</p>
    </div>
    <div class="form-group">
        <input type="submit" value="{{sumbitBtnTxt}}" class="btn">
    </div>
</div>