
<div class="blockMain" data="tabs-7" data-tab-type="Amex-click">
	<div class="eze_logo"></div>
	<p>{{amexphara}}</p>
	<div class="form-group">
        <input type="submit" value="{{sumbitBtnTxt}}" class="btn vm-submit-btn disable-click">
    </div>
</div>