<div class="blockMain" data="tabs-10">
    <div class="bharatqr-list">
        <div class="bqr-tab-logo"></div>
        <fieldset>
            <input type="button" value="Generate QR" class="btn bharat-qr-submit" id="pay-bharatqr">
        </fieldset>
    </div>
    <div class="popupwrap" id="bhpopup">
        <div class="popup-content">
            <!-- <span><a href="#" class="cls-popup cls-bhpopup">X</a></span> -->
            <div class="bharat-qr">
                <div class="bqr-logo"></div>
                <div class="bqr-img" id="bharatqr_img"><img src="" alt="BHARAT QR Code"></div>
                <div class="bqr-supp"></div>
                <p class="label session-time" id="session_time_bharatqr" rel="3"></p>
            </div>
        </div>
    </div>
</div>