<ul class="menu-list">
    {{#each menu}}
        <li class="menuli tab-menu-options" data-tab="tabs-{{tab}}" >
            <!--<img src="img/-icon.png" alt="" class="imgmob"/>-->
            <div class="imgmob icon icon-{{imgicon}}"></div>
            <a href="#" data-tab-id="{{data}}"  class="menu-link">{{tabname}}</a>
        </li>
   {{/each}}
</ul>


