<div class="blockMain blockPaylater" data="tabs-11" data-tab-type="pay-later">
    

    <div class="stepwrap">
        <ul class="step">
        <li id="P1" class="firstli comp">
            <div class="num">1</div>
            <span>Sign Up</span>
            <div class="line"></div>
        </li>
        <li id="P2" class="midli hold">
            <div class="num">2</div>
            <span>Verification</span>
            <div class="line"></div>
        </li>
        <li id="P3" class="lastli">
            <div class="num">3</div>
            <span>OTP</span>
            <div class="line"></div>
        </li>
         </ul>
     </div>

    <div class="note text-center" id="payltrNote"><p>Shop today. Pay 14 days later. 0% interest!</p></div>

    <div class="defaultBlock">
        <div class="epay-details">
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>First Name</label>
                    <span class="input-group-addon icon iUser"></span>
                </div>
                <span class="help">Please enter your first name</span>
            </div>  

             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>Last Name</label>
                    <span class="input-group-addon icon iUser"></span>
                </div>
                <span class="help">Please enter your last name</span>
            </div> 

             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>Email ID</label>
                    <span class="input-group-addon icon iEmail"></span>
                </div>
                <span class="help">Enter your e-mail Id</span>
            </div> 

             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>Phone No.</label>
                    <span class="input-group-addon icon iMob"></span>
                </div>
                <span class="help">Please enter a number</span>
            </div> 

            <div class="form-group">
                <label>
                    <input type="checkbox" class="checkbox-inline" value="">
                    I agree to the <a class="payltrtnc" data-type="tncpayltr" href="javascript:void(0);" id="payltr-tnc">terms &amp; conditions.</a>
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn">
                <p class="note-txt text-right">all fields are mandatory</p> 
            </div> 

            <p class="text-right"><a href="javascript:void(0);">what is Pay Later?</a></p>
        </div>


        <div class="epay-uid">
             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>Adhar Card No</label>
                    <span class="input-group-addon icon iaadhar"></span>
                </div>
                <span class="help">Enter your e-mail Id</span>
            </div> 

             <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>PAN No</label>
                    <span class="input-group-addon icon ipancard"></span>
                </div>
                <span class="help">Please enter a number</span>
            </div> 

            <div class="formDom form-group">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <label>Date of Birth</label>
                    <span class="input-group-addon icon ical"></span>
                </div>
                <span class="help">Please enter a number</span>
            </div> 


            <div class="form-group">
                <input type="submit" value="Submit" class="btn">
                <p class="text-right"><a href="javascript:void(0);">cancel</a></p> 
            </div> 

        </div>

        <div class="epay-otp">
            <div class="formDom form-group">
                <div class="input-group">
                    <input type="password" class="form-control">
                    <label>Enter your OTP code</label>
                    <span class="input-group-addon icon iotp"></span>
                </div>
                <span class="help">Enter your e-mail Id</span>
            </div> 
            <div class="form-group">
                <input type="submit" value="Submit" class="btn">
                <p class="noteLink">
                    <a class="float-left" href="javascript:void(0);">cancel</a>
                    <a class="float-right" href="javascript:void(0);">resend OTP</a>
                </p> 
            </div> 
        </div>

    </div>
</div>         