
<div class="blockMain blockRtgs {{cardsClass}}"  data-tab-type="{{dataTabType}}">
    <div class="formDom form-group">
        <div class="input-group">
            <input maxlength="23" class="form-control utr-validation" name="rtgs" placeholder="Unique Transaction Reference No" required="" value="">
            <label>UTR</label>
            <span class="input-group-addon"></span>
        </div>
        <!-- <span class="help"></span>-->
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn">
    </div>
</div>
   