
<div class="blockMain blockRtgs" data="tabs-5" data-tab-type="rtgs">
    <div class="formDom form-group">
        <div class="input-group">
            <input class="form-control" name="rtgs" placeholder="Unique Transaction Reference No" required="" value="">
            <label>UTR</label>
            <span class="input-group-addon"></span>
        </div>
        <!-- <span class="help"></span>-->
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn">
    </div>
</div>
   