
   <!-- <div class="regular slider">
        <div class="slide-content">
            <div class="saved-card-wrap">
                <h2 class="cardNumber">4111 1111 1111 1111</h2>
                <p class="cardname">Amol Kadam</p>
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="exp_date">12/24</h4>
                    </div>
                    <div class="col-xs-6">
                        <div class="formDom form-group">
                            <div class="input-group">
                                <input type="tel" class="form-control cvv" style="-webkit-text-security: disc;">
                                <label>CSV / CVV</label>
                                <span class="input-group-addon icon iCVV"></span>
                            </div>
                            <span class="help">Its a 3 digit code printed on the back of your card</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-content">
            <div class="saved-card-wrap">
                <h2 class="cardNumber">4111 1111 1111 1111</h2>
                <p class="cardname">Amol Kadam</p>
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="exp_date">12/24</h4>
                    </div>
                    <div class="col-xs-6">
                        <div class="formDom form-group">
                            <div class="input-group">
                                <input type="tel" class="form-control cvv" style="-webkit-text-security: disc;">
                                <label>CSV / CVV</label>
                                <span class="input-group-addon icon iCVV"></span>
                            </div>
                            <span class="help">Its a 3 digit code printed on the back of your card</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-content">
            <div class="saved-card-wrap">
                <h2 class="cardNumber">4111 1111 1111 1111</h2>
                <p class="cardname">Amol Kadam</p>
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="exp_date">12/24</h4>
                    </div>
                    <div class="col-xs-6">
                        <div class="formDom form-group">
                            <div class="input-group">
                                <input type="tel" class="form-control cvv" style="-webkit-text-security: disc;">
                                <label>CSV / CVV</label>
                                <span class="input-group-addon icon iCVV"></span>
                            </div>
                            <span class="help">Its a 3 digit code printed on the back of your card</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-content">
            <div class="saved-card-wrap">
                <h2 class="cardNumber">4111 1111 1111 1111</h2>
                <p class="cardname">Amol Kadam</p>
                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="exp_date">12/24</h4>
                    </div>
                    <div class="col-xs-6">
                        <div class="formDom form-group">
                            <div class="input-group">
                                <input type="tel" class="form-control cvv" style="-webkit-text-security: disc;">
                                <label>CSV / CVV</label>
                                <span class="input-group-addon icon iCVV"></span>
                            </div>
                            <span class="help">Its a 3 digit code printed on the back of your card</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
-->