
<div class="blockMain blockUpi" data="tabs-9">
    <div class="note text-center"><p>Pay through Scan QR code or Pay using VPA.</p></div>
    <div class="formDom form-group">
        <div class="input-group">
            <input autocomplete="upi-vpa" class="form-control"  name="vpa" placeholder="" required="" pattern=".+@.+" value="">
            <label>Enter UPI address</label>
            <span class="input-group-addon icon iupi"></span>
        </div>
       <!-- <span class="help"></span>-->
    </div>
</div>