body{
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
}
.mer-logo-txt {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    padding: 10px 0;
    color: $primary-color;
}
.main-container{
    max-width: 825px;
    margin: 0 auto;
&:after{
@extend %clearfix;
}
}
.pay-container{
border: 1px solid #b7b7b8;
position: relative;
&:before{
content:'';
width: 1px;
    background: #b7b7b8;
    height: 100%;
    position: absolute;
    left: 22%;
    top: 0;
    display: block;
}
&:after{
content:''; 
width: 1px;
    background: #b7b7b8;
    height: 100%;
    position: absolute;
    right: 25.6%;
    top: 0;
    display: block;
}
}
.container:after,.container-fluid:after{
@extend %clearfix;
}

.tab-container{
    width: 52.4%;
    max-width: 430px;
     float: left;
}
.blockMain{ 
//    display:block; 
    padding:15px 6%; 
    margin:0 auto; 
    max-width:400px;
    display: none;
}

.tab-menu{
    margin: 0;
    padding: 0;
    width: 22%;
    max-width: 181px;
    float: left;
    overflow: hidden;    
    border: 0px solid #b3b3ea;
    &:after{
@extend %clearfix;
}
}

.amount-block{
    float: right;
    width: 25.5%;
    max-width: 210px;
    border: 0px solid #b3b3ea;
    &:after{
@extend %clearfix;
}
}

.blockNetbanking ul{
 	display: block;
	margin:0 -6px 35px 0;
	&:after{
		@extend %clearfix;
	}
}
.blockNetbanking li{
	float:left;
	label{
		border: 1px solid $default-color;
	    cursor: pointer;
	    display: block;
	    width: 122px;
	    min-height:30px;
	    font-size:13px;
	    line-height:30px;
	    padding: 3px;
	    margin:0 5px 8px 0;
	}
}

.blockNetbanking .bankLogo{
    background-color: transparent;
    background-image: url(../images/new-sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 93px;
    height: 26px;
    text-indent: -9999px;
    &.lo-nbicici {
    	background-position: -5px -213px;
	}
    &.lo-nbhdfc {
    	background-position: -5px -183px;
	}
    &.lo-nbaxis {
    	background-position:-151px -182px;
	}
    &.lo-nbkotak {
    	background-position:-300px -215px;
	}
    &.lo-nbsbi {
        background-position: -300px -183px;
	}
}
.blockWallet,.blockNetbanking{max-width:inherit;}
ul.wallet-list{
    width: 100%;
    margin: 0 0px 35px 0;
    &:after{@extend %clearfix;}
    li{
        margin-bottom: 0;
        float: left;
        label {
            border: 1px solid #becfd6;
            padding: 5px 5px;
            cursor: pointer;
            display: block;
            width: 122px;
            margin-right: 4px;
            margin-bottom: 8px;
        }
        input {
            float: left;margin:7px 0px 6px;
        }
        span {
            &.bankLogo {
                background-color: transparent;
                background-image: url(../images/new-sprite.png);
                background-repeat: no-repeat;
                height: 26px;
                background-size: auto;
                display: block;
                margin-left: 15px;
                width: 100px;
                &.amazon-wallet{background-position: -3px -907px;}
                &.citrus-wallet {background-position: left -306px;}
                &.freecharge-wallet {background-position: left -582px;}
                &.hdfc-payzap {background-position: left -805px;}
                &.jio-wallet {background-position: left -458px;}
                &.money-wallet {background-position: left -335px;}
                &.ola-wallet {background-position: left -397px;}
                &.oxygen-wallet {background-position: -147px -213px;}
                &.payu-wallet {background-position: left -426px;}
                &.quick-wallet {background-position: left -274px;}
                &.sbi-buddy {background-position: left -838px;}
            }
        }
    }
}

ul.menu-list{
    &:after{@extend %clearfix;}
    .menuli{
        background-color: #fff;
        a{
            padding: 12px 20px;
            text-decoration: none;
            font-size: 14px;
            color: #373a49;
            display: block;
            border-bottom: 1px solid #b7b7b8;
          &:hover,&.active{
              background-color: #787f97; 
              color: #fff;  
            }  
        } 
        &:last-child a {border-bottom: none;}
        
    }
}

          

@media (min-width: 768px) {
	.amount-block{
	    float: right;
	}
}
@media (max-width: 480px) {
    
     .pay-container{
        border: none;
        &:before{
          content:'';
          width: 0px;
        }
        &:after{
          content:'';
          width: 0px;
        }
    }

    .tab-menu{
        width: 90%; 
        max-width: inherit;
        margin: 0 auto;
        float: none;
    }
    
    ul.menu-list{
         .menuli{
            width: 50%;
            float: left;
        a{
            padding: 50px 20px;
            margin: 8px;
            border-bottom: none;
            text-align: center;
            background-color: #efefef;
            border-radius: 3px;
            border: 1px solid #d4d4d4;
             height: calc(100vh - 75vh);
          &:hover,&.active{
              background-color: #787f97; 
              color: #fff;  
             
            }  
        } 
       &:last-child a {border: 1px solid #d4d4d4;}
    }
}
}
   