.bqr-tab-logo {
    max-width: 100px;
    display: block;
    background: url(../img/spriteimg.png) -250px -600px no-repeat;
    height: 85px; 
}

.bharat-qr-submit{
    width: 100%;
    display: block;
    background-color: #0067a6;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}