
.spriteCommon{
    width: 40px;
    height: 25px;
}
.card-icon{
    background-position: 0px -118px;
    width: 80px;
    @extend %icon;
}
.visa ~ .iCard{
    background-position: 0 -121px; 
    @extend .spriteCommon;
}
.amex ~ .iCard {
    background-position: -159px -121px;
    @extend .spriteCommon;
}
.mastercard ~ .iCard {
    background-position: -39px -121px;
    @extend .spriteCommon;
}
.formDom .form-control.net-banking-options{
    width: 100%;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.emitable{
    display: table;
    border-collapse: separate;
    margin-bottom: 20px;
    td{
        border-top:1px solid #becfd6;
        border-bottom: none;
    }
}