
.eze_logo {
    @extend .icon;
    background-position: -16px -518px;
    width: 204px;
    height: 55px;
}
.brdrnone{
	border:none;
}
.cashwork{
	display:inline-block;
	padding: 10px 0;
}
.cashworkBox{
	display:none;
	position:absolute;
	left:26%;
	top:0;
	border:1px solid #ccc;
	background-color:#fff;
	z-index:99;
	li{
		border-bottom: 1px solid #ccc;
		padding: 10px;
	}
}
.cashwork:hover + .cashworkBox{display:block;}