fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"], select,textarea,.form-control{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d2dbdf;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="tel"]:focus, select:focus,textarea:focus,.form-control:focus {
  border-color: #d2dbdf;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(102, 175, 233, 0);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.0), 0 0 8px rgba(102, 175, 233, 0);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
textarea{ 
  height:95px; 
  resize:none;
}

.form-group {
  margin-bottom: 20px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  min-height: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  display: inline-block;
  vertical-align: top;
  min-height: 27px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}


// button

input[type="submit"], input[type="reset"],button,.btn {
  display: inline-block;
  min-height:34px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0px;
  background-color:$primary-color;
  color: #fff;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 0;
  outline-offset: -2px;
  background-color: #5d9abf;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.form-group .btn{ 
  width:100%;
}

.form-group {
    position: relative;
}
.formDom {
    position: relative;
    border-bottom:1px solid #d2dbdf;
    margin-bottom: 26px;
}
.formDom:after{
    content:'';
    position:absolute;
    bottom:-1px;
    left:0;
    right:0;
    border-bottom:1px solid #4085de;
    -webkit-transform:scale(0,1);
    -ms-transform:scale(0,1);
    transform:scale(0,1);
    -webkit-transition:.2s;
    -o-transition:.2s;
    transition:.2s;
    pointer-events:none;
    -webkit-transform-origin:center;
    -ms-transform-origin:center;
    transform-origin:center
}
.formDom.focused::after{
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1)
}
.formDom input{
  opacity: 0;
}
.focused input,.has-content input{
  opacity: 1;
}
select.form-control option:first-child {
    display: none;
}

.langbar select.form-control option:first-child {
    display: block;
}
.formDom .form-control{
    position:relative; 
    z-index: 2;
    padding:6px 0 0; 
    border: 0; 
    /*border-bottom: 1px solid #d2dbdf;*/
    background-color: transparent;
}
.formDom .form-control:focus { 
    border:0px;
    /*border-bottom: 1px solid #4085de; */
    outline: 0;
}

.form-control ~ .focus-border{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #4085de; 
  transition: 0.4s;
}
.form-control:focus ~ .focus-border,.has-content .form-control ~ .focus-border{
  width: 100%; 
  transition: 0.4s;
  }
.has-content .form-control, .form-control:focus ~ .input-group-addon, .has-content .form-control ~ .input-group-addon{
  border-bottom: 0px solid #4085de;
  }
.has-content .form-control, .has-content .form-control ~ .input-group-addon{
  border-bottom: 0px solid #d2dbdf;
  }
.form-control ~ label{
  position: absolute; 
  left: 0; 
  width: 100%; 
  top:10px; 
  color:#90a4ae; 
  text-align:left; 
  transition: 0.3s; 
  z-index:0; 
  font-size:14px; 
  font-weight:normal;
  }
.form-control:focus ~ label, 
.has-content .form-control ~ label{
  top: -10px; 
  font-size: 12px; 
  color: #90a4ae; 
  transition: 0.3s;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
        width: 100%;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    padding: 5px 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    border: 0;
    border-bottom: 0px solid #d2dbdf;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*background-image: url(../images/i-user.png);*/
    background-position: 0 5px;
    background-repeat: no-repeat;
}



.help{
    -webkit-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px);
    color:#fff;
    font-weight:bold;
    position:absolute;
    line-height:16px;
    padding:8px 12px;
    font-size:12px;
    background:#555;
    -webkit-box-shadow:rgba(0,0,0,0.05) 1px 1px 2px 0;
    box-shadow:rgba(0,0,0,0.05) 1px 1px 2px 0;
    z-index:3;
    -webkit-border-radius:3px;
    border-radius:3px;
    top:100%;
    margin-top:12px;
    pointer-events:none !important;
        opacity: 0;
}
.help:after{
    content:"";
    position:absolute;
    width:0;
    height:0;
    border-width:5px;
    border-style:solid;
    border-color:transparent transparent #555;
    bottom:100%;
    left:20px;
    margin:0 0 -1px -10px
}
.focused .help{
  opacity: 1;
}
.errorBox{
    display:none;
}
.invalid .errorBox{
    display:block;
}